body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* User pages css */
.user-details-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.users-list-header {
    padding-top: 10px;
    padding-bottom: 5px;
}

/*Payments pages css */
.payments-list-header {
    padding-top: 10px;
    padding-bottom: 5px;
}

/*Calendar pages css */
.calendar-list-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.birthday-card {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.birthday-card-image {
    text-align: center;
    font-size: 40px;
}

.birthday-card-text {
    font-size: 14px;
}

    .birthday-card-text .card-fullname {
        font-weight: bold;
    }

.card-subscriber-item {
    font-size: 14px;
    margin-bottom: 5px;
    padding: 5px;
    background: #2196f3; /*primary color*/
    color: white;
}

.birthday-card:hover {
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

    .birthday-card:hover::after {
        opacity: 1;
    }


/*General validation errors css */
.field-validation-error {
    color: #cc5353;
}

.input-validation-error {
    border: 2px solid #cc5353;
}

.validation-summary-errors {
    color: #cc5353;
}
