body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Index page css */
.index-page-header {
    background: url(img/header-image.jpg);
    background-size: cover;
    margin-top: -10px;
    height: 250px;
    margin-bottom: 30px;
}

.index-page-header-text {
    text-align: center;
    background: rgba(0, 0, 0, 0.44);
    color: white;
    padding: 20px;
    position: relative;
    top: 30%;
}

/* User pages css */
.user-details-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.users-list-header {
    padding-top: 10px;
    padding-bottom: 5px;
}

/*Payments pages css */
.payments-list-header {
    padding-top: 10px;
    padding-bottom: 5px;
}

/*Calendar pages css */
.calendar-list-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.birthday-card {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.birthday-card-image {
    text-align: center;
    font-size: 40px;
    margin-top: -30px;
}

.birthday-card-text {
    font-size: 14px;
}

.card-fullname {
    font-weight: bold;
}

.card-subscriber-item {
    font-size: 14px;
    margin-bottom: 5px;
    padding: 5px;
    background: #2196f3; /*primary color*/
    color: white;
}

.birthday-card:hover {
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

    .birthday-card:hover::after {
        opacity: 1;
    }

.birthday-card-complete {
    background: #FFCE54;
}

#loader-container {
    min-width: 100%;
    min-height: 100%;
    background: #0003;
    z-index: 2;
    position: absolute;
}

#loader {
     border: 14px solid #f3f3f3;
     border-radius: 50%;
     border-top: 14px solid #3498db;
     width: 100px;
     height: 100px;
     -webkit-animation: spin 1.5s linear infinite; /* Safari */
     animation: spin 1.5s linear infinite;
 }

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.centered {
    position: absolute;
    left: 44%;
    top: 44%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}




/*General validation errors css */
.field-validation-error {
    color: #cc5353;
}

.input-validation-error {
    border: 2px solid #cc5353;
}

.validation-summary-errors {
    color: #cc5353;
}
