@model List<string>
@{
    ViewBag.Title = "Home Page";
}

TEST CI/CD

<div class="row">
    <div class="col-md-8">
        <img class="img-rounded" src="~/Content/img/cake.png" style="max-width: 365px; display: block; margin: 0 auto;"/>
    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <li href="#" class="list-group-item active">
                Next birthdays:
            </li>
            @foreach (var birthday in Model)
            {
                <li class="list-group-item"><i class="fa fa-birthday-cake"></i> @birthday</li>
            }
        </ul>
    </div>
</div>
