@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 style="text-align: center">Welcome to Birthday Manager!</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <img class="img-rounded" src="~/Content/img/cake.png" style="max-width: 365px"/>
    </div>
    <div class="col-md-8">
        <h4>Next birthdays:</h4>
        <ul>
            <li><i class="fa fa-birthday-cake"></i> Didina Prodan January 31</li>
            <li><i class="fa fa-birthday-cake"></i> Vlad Guleaev  April 08</li>
        </ul>
    </div>
</div>