<h4>Import Users Balance</h4>
<hr />

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                
                <form id="import-balance-form" enctype="multipart/form-data" method="POST">
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group">
                            Import File
                            <input name="file" type="file" accept=".xls , .xlsx">
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <a href="javascript:void(0);" id="import-balance-submit" class="pull-right btn btn-primary btn-lg">
                            <i class="fa fa-cloud-upload fa-fw"></i> Send
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
