@using BirthdayManager.Core.Constants
@using BirthdayManager.Core.ViewModels
@model BirthdayManager.Models.IndexViewModel
@{
    ViewBag.Title = "Your Profile";
}

<h2 class="profile-list-header"><i class="fa fa-user-circle"></i> Your Profile </h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="row">
    <div class="col-lg-12">
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @if (User.IsInRole(RoleNames.Admin))
        {
            @Html.Partial("_ImportUsersBalance")
        }
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#import-balance-help').popover({
                html: true,
                content: function () {
                    return '<img src="'+$(this).data('img') + '" />';
                }
            });


            $('#import-balance-submit').click(function (e) {

                //Start animate loading
                $('#import-balance-loader').show();
                $('#import-balance-submit').addClass('disabled');
                $('#import-balance-submit').attr('disabled', 'true');

                var formData = new FormData($("#import-balance-form")[0]);

                $.ajax({
                    url: "/api/import/balance",
                    method: "POST",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (message) {
                        toastr.success(message);

                        //Stop animate
                        $('#import-balance-loader').hide();
                        $('#import-balance-submit').removeClass('disabled');
                        $('#import-balance-submit').removeAttr('disabled');
                    },
                    error: function (ex) {
                        toastr.error(ex.responseJSON.message);

                        //Stop animate
                        $('#import-balance-loader').hide();
                        $('#import-balance-submit').removeClass('disabled');
                        $('#import-balance-submit').removeAttr('disabled');
                    }
                });
            });
        });
    </script>

}
